---
layout: default
title: CV 🎓
permalink: /cv
---

<!-- Set up date formats -->
{%- assign yearFull = site.minima.date_format | default: "%Y" -%} {%- assign
yearShort = site.minima.date_format | default: "%y" -%}

<!-- Single table for entire CV -->
<table class="clean">
  <!-- Main CV -->
  {%- assign experienceTypes = "Education, Experience, Teaching,
  Awards, Leadership, Service, Invited talks" | split: ", "-%} {%- for
  experienceType in experienceTypes -%} {%- assign experienceSet = site.data.CV
  | where:"include","TRUE" | where:"type", experienceType | sort: "dateStart"|
  reverse -%} {%- if experienceSet.size > 0 -%}
  <tr>
    <td colspan="2">
      <h2 class="section">{{ experienceType }}</h2>
    </td>
  </tr>
  {%- for experience in experienceSet -%}
  <tr>
    {%- capture startDate -%}{{ experience.dateStart | date: yearFull }}{%-
    endcapture -%} {%- capture endDate -%}{{ experience.dateEnd | date: yearFull
    }}{%- endcapture -%}
    <td class="left light small">
      {{ experience.dateStart | date: yearFull }} {%- if startDate != endDate
      -%} {%- if experience.dateEnd -%} –{{ experience.dateEnd | date: yearShort
      }} {%- else -%} {{ "→" }} {%- endif -%} {%- endif -%}
    </td>
    <td class="row">
      {% if experience.position %}<strong>{{ experience.position }}</strong>{% if
      experience.focus %} in {{ experience.focus | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %} at {%endif%} {% if experience.institutionURL %}<a href="{{ experience.institutionURL }}">{%endif%}
        <strong>{{ experience.institutionFull }}</strong>{% if
        experience.institutionURL %}</a>{%endif%}{% if experience.institutionShort %}
      <span class="smallCaps">({{ experience.institutionShort }})</span>{% endif
      %}{% if experience.notes %} 
      <span class="light note">
        {{ experience.notes | markdownify | remove: '<p>' | remove: '</p>' }}
      </span>
      {%endif%}
    </td>
  </tr>

  {%- endfor -%} {%- endif -%} {%- endfor -%}
  <!-- Mentees -->
  {%- assign menteeSet = site.data.mentees | sort: "dateStart" | reverse -%} {%-
  if menteeSet.size > 0 -%}
  <tr>
    <td>
      <!-- <td colspan="2"> -->
      <h2 class="section">Mentees</h2>
    </td>
    <td class="light bottom small noPrint">
      <a href="https://github.com/markwhiting/Whiting.me/blob/gh-pages/_data/mentees.yml">Submit an update.</a>
    </td>
  </tr>
  {%- assign menteeSet = site.data.mentees | sort: "dateStart" | reverse -%} {%-
  assign institutions = menteeSet | group_by:"institution" -%} {%- for
  institution in institutions -%}
  <tr>
    {%- assign startOrderedMentees = institution.items | sort: "startDate" |
    reverse -%}{%- capture startDate -%} {{ startOrderedMentees.last.dateStart |
    date: yearFull }} {%- endcapture -%}{%- assign endOrderedMentees =
    institution.items | sort: "endDate" | reversed -%}{%- capture endDate -%} {{
    startOrderedMentees.first.dateEnd | date: yearFull }}{%- endcapture -%}
    <td class="left light small">
      {{ startDate }}{% if startDate != endDate %}{% if endDate != "" %}–{{
      endDate | slice: -2, 2 }}{% else %}→{% endif %}{% endif %}
    </td>
    <td class="row">
      <strong>{% if institution.name.size > 4 %}{{ institution.name }}{% else %}<span
          class="smallCaps">{{ institution.name }}</span>{% endif %}</strong>
      <p class="light note">
        {%- for mentee in institution.items -%}{% if forloop.first == false and
        forloop.last == false %},{% elsif forloop.first == false and
        forloop.last %}, and{% endif %} {% if mentee.URL %}<a
          href="{{ mentee.URL }}">{%endif%}{{ mentee.name }}{% if mentee.URL %}</a>{% endif %}{% if mentee.notes %} ({% if mentee.notes.size > 4 %}{{
        mentee.notes }}{% else %}<span class="smallCaps">{{ mentee.notes }}</span>{% endif %}){% endif %}{% endfor %}
      </p>
    </td>
  </tr>
  {%- endfor -%}{%- endif -%}
  
  <!-- Publications -->
  <!-- BIB file: https://scholar.googleusercontent.com/citations?view_op=export_citations&user=9BeIX-0AAAAJ&citsig=AMD79ooAAAAAXpSZliP1QLDRVVTzHHm1ET12pNRI01dU&hl=en -->
  <tr>
    <td colspan="2">
      <h2 class="section">
        <a class="noPrint" href="https://scholar.google.com/citations?user=9BeIX-0AAAAJ">Publications</a>
        <span class="onlyPrint">Publications</span>
      </h2>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class="" href="https://cscw.acm.org/2020/">CSCW'20</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://hci.stanford.edu/publications/2020/parallelworlds/parallelworlds_cscw2020.pdf">Parallel Worlds: Repeated Initializations of the Same Team To Improve Team Viability</a></strong>
      <p class="light note">
        <strong>Mark E. Whiting</strong>, Irena Gao, Michelle Xing, N’godjigui Junior Diarrassouba, Tonya Nguyen, and Michael S. Bernstein. 2020.
	<strong><a href="https://hci.stanford.edu/publications/2020/parallelworlds/parallelworlds_cscw2020.pdf">Parallel Worlds: Repeated Initializations of the Same Team To Improve Team Viability</a></strong>. Proc. ACM Hum.-Comput. Interact. 4, CSCW1, Article 67 (May 2020), 22 pages. DOI:
        <a href="https://doi.org/10.1145/3392877">10.1145/3392877</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://cscw.acm.org/2019/">CSCW'19</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://hci.stanford.edu/publications/2019/fracture/fracture-cscw2019.pdf">Did It Have To End
          This Way? Understanding the Consistency of Team
          Fracture</a></strong>
      <p class="light note">
        <strong>Mark E. Whiting</strong>, Allie Blaising, Chloe Barreau, Laura
        Fiuza, Nik Marda, Melissa Valentine and Michael S. Bernstein. 2019.
        <strong><a href="https://hci.stanford.edu/publications/2019/fracture/fracture-cscw2019.pdf">Did It Have To End
            This Way? Understanding the Consistency of Team
            Fracture</a></strong>. Proc. ACM Hum.-Comput. Interact. 3, CSCW, Article 209. DOI:
        <a href="https://doi.org/10.1145/3359311">10.1145/3359311</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://www.humancomputation.com/2019/index.html">HCOMP'19</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://hci.stanford.edu/publications/2019/fairwork/fairwork-hcomp2019.pdf">Fair Work: Crowd Work
          Minimum Wage with One Line of Code</a></strong>
      <code>Honorable Mention</code>
      <p class="light note">
        <strong>Mark E. Whiting</strong>, Grant Hugh and Michael S. Bernstein.
        <strong><a href="https://hci.stanford.edu/publications/2019/fairwork/fairwork-hcomp2019.pdf">Fair Work: Crowd
            Work Minimum Wage with One Line of Code</a></strong>. Seventh AAAI Conference on Human Computation and
        Crowdsourcing. 2019.
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://cscw.acm.org/2019/">USPTO</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://patents.google.com/patent/US20180276278A1/en">Searching of data structures in
          pre-processing data for a machine
          learning classifier</a></strong>
      <p class="light note">
        Cagan, Jonathan, Phil LeDuc, and <strong>Mark E. Whiting</strong>,
        inventors; Carnegie Mellon University, assignee.
        <strong><a href="https://patents.google.com/patent/US20180276278A1/en">Searching of data structures in
            pre-processing data for a machine
            learning classifier</a></strong>. U.S. Patent Application No.
        <a href="https://patents.google.com/patent/US20180276278A1/en">15/926,790</a>. 2018 Sep 27.
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://www.cambridge.org/core/journals/ai-edam">AI EDAM</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a
          href="https://www.cmu.edu/me/idig/publications/Whiting%20et%20al%20_efficient_probabilistic_grammar_induction_for_design%20AIEDAM%202018.pdf">Efficient
          Probabilistic Grammar Induction for Design</a></strong>
      <p class="light note">
        <strong>Whiting, M.E.</strong>, J. Cagan and P. R. LeDuc,
        <strong><a
            href="https://www.cmu.edu/me/idig/publications/Whiting%20et%20al%20_efficient_probabilistic_grammar_induction_for_design%20AIEDAM%202018.pdf">Efficient
            Probabilistic Grammar Induction for Design</a></strong>.
        <a class="" href="https://www.cambridge.org/core/journals/ai-edam">AI EDAM</a>, Vol 32, No. 2, pp. 177-188,
        2018. DOI:
        <a href="http://doi.org/10.1017/S0890060417000464">10.1017/S0890060417000464</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://www.humancomputation.com/2017/index.html">HCOMP'17</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://arxiv.org/pdf/1707.05645.pdf">Prototype Tasks: Improving Crowdsourcing Results through
          Rapid,
          Iterative Task Design</a></strong>
      <p class="light note">
        Snehalkumar Gaikwad, Nalin Chhibber, Vibhor Sehgal, Alipta Ballav,
        Catherine Mullings, Ahmed Nasser, Angela Richmond-Fuller, Aaron Gilbee,
        Dilrukshi Gamage, <strong>Mark E. Whiting</strong>, Sharon Zhou,
        Sekandar Matin, Senadhipathige Niranga, Shirish Goyal, Dinesh Majeti,
        Preethi Srinivas, Adam Ginzberg, Kamila Mananova, Karolina Ziulkoski,
        Jeff Regino, Tejas Sarma, Akshansh Sinha, Abhratanu Paul, Christopher
        Diemert, Mahesh Murag, William Dai, Manoj Pandey, Rajan Vaish and
        Michael S. Bernstein.
        <strong><a href="https://arxiv.org/pdf/1707.05645.pdf">Prototype Tasks: Improving Crowdsourcing Results through
            Rapid,
            Iterative Task Design</a></strong>. Fifth AAAI Conference on Human Computation and Crowdsourcing. 2017.
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="http://collectiveintelligenceconference.org">CI'17</a>
    </td>
    <td colspan="2" >
      <strong class="noPrint">Designing A Constitution for a Self-Governing Crowdsourcing
        Marketplace</strong>
      <p class="light note">
        <strong>Mark E. Whiting</strong>, Dilrukshi Gamage, Shirish Goyal, Aaron
        Gilbee, Dinesh Majeti, Angela Richmond-Fuller, Mohamed Hashim Salih,
        Tejas Seshadri Sarma, Vinayak Mathur, Manoj Pandey, Snehalkumar Gaikwad,
        Rajan Vaish and Michael S. Bernstein.
        <strong>Designing A Constitution for a Self-Governing Crowdsourcing
          Marketplace</strong>. 2017. Collective Intelligence.
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="http://learningatscale.acm.org/las2017/">L@S'17</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="https://arxiv.org/pdf/1703.06169.pdf">Improving Assessment on MOOCs Through Peer Identification
          and Aligned
          Incentives</a></strong>
      <p class="light note">
        Dilrukshi Gamage, <strong>Mark E. Whiting</strong>, Thejan Rajapakshe,
        Haritha Thilakarathne, Indika Perera, and Shantha Fernando. 2017.
        <strong><a href="https://arxiv.org/pdf/1703.06169.pdf">Improving Assessment on MOOCs Through Peer Identification
            and
            Aligned Incentives</a></strong>. In Proceedings of the Fourth ACM conference on Learning@Scale. ACM,
        New York, NY, USA. DOI:
        <a href="http://dx.doi.org/10.1145/3051457.3054013">10.1145/3051457.3054013</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://cscw.acm.org/2017/">CSCW'17</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="http://hci.stanford.edu/publications/2017/crowdguilds/guilds.pdf">Crowd Guilds: Worker-led
          Reputation and Feedback on Crowdsourcing
          Platforms</a></strong>
      <p class="light note">
        <strong>Mark E. Whiting</strong>, Dilrukshi Gamage, Snehalkumar Gaikwad,
        Aaron Gilbee, Shirish Goyal, Alipta Ballav, Dinesh Majeti, Nalin
        Chhibber, Angela Richmond-Fuller, Freddie Vargus, Tejas Seshadri Sarma,
        Varshine Chandrakanthan, Teogenes Moura, Mohamed Hashim Salih, Gabriel
        Bayomi Tinoco Kalejaiye, Adam Ginzberg, Catherine A. Mullings, Yoni
        Dayan, Kristy Milland, Henrique Orefice, Jeff Regino, Sayna Parsi, Kunz
        Mainali, Vibhor Sehgal, Sekandar Matin, Akshansh Sinha, Rajan Vaish, and
        Michael S. Bernstein. 2017.
        <strong><a href="http://hci.stanford.edu/publications/2017/crowdguilds/guilds.pdf">Crowd Guilds: Worker-led
            Reputation and Feedback on Crowdsourcing
            Platforms</a></strong>. In Proceedings of the 2017 ACM Conference on Computer Supported
        Cooperative Work and Social Computing. ACM, New York, NY, USA,
        1902-1913. DOI:
        <a href="http://dx.doi.org/10.1145/2998181.2998234">10.1145/2998181.2998234</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://cscw.acm.org/2017/">CSCW'17</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="http://hci.stanford.edu/publications/2017/crowdguilds/CSCWDemo.pdf">The Daemo Crowdsourcing
          Marketplace</a></strong>
      <p class="light note">
        Snehalkumar Gaikwad, <strong>Mark E. Whiting</strong>, Dilrukshi Gamage,
        Catherine A. Mullings, Dinesh Majeti, Shirish Goyal, Aaron Gilbee, Nalin
        Chhibber, Adam Ginzberg, Angela Richmond-Fuller, Sekandar Matin, Vibhor
        Sehgal, Tejas Seshadri Sarma, Ahmed Nasser, Alipta Ballav, Jeff Regino,
        Sharon Zhou, Kamila Mananova, Preethi Srinivas, Karolina Ziulkoski,
        Dinesh Dhakal, Alexander Stolzoff, Senadhipathige S. Niranga, Mohamed
        Hashim Salih, Akshansh Sinha, Rajan Vaish, and Michael S. Bernstein.
        2017.
        <strong><a href="http://hci.stanford.edu/publications/2017/crowdguilds/CSCWDemo.pdf">The Daemo Crowdsourcing
            Marketplace</a></strong>. In Companion of the 2017 ACM Conference on Computer Supported
        Cooperative Work and Social Computing Companion. ACM, New York, NY, USA,
        1-4. DOI:
        <a href="http://dx.doi.org/10.1145/3022198.3023270">10.1145/3022198.3023270</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="http://dccconferences.org/dcc16/">DCC'16</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="http://link.springer.com/chapter/10.1007/978-3-319-44989-0_15">Automated Induction of General
          Grammars for Design</a></strong>
      <p class="light note">
        <strong>Whiting, Mark E.</strong>, Cagan, J. and LeDuc, P., 2017.
        <strong><a href="http://link.springer.com/chapter/10.1007/978-3-319-44989-0_15">Automated Induction of General
            Grammars for Design</a></strong>. In Design Computing and Cognition'16. Springer, Cham. 267-278 DOI:
        <a href="https://doi.org/10.1007/978-3-319-44989-0_15">10.1007/978-3-319-44989-0_15</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="https://uist.acm.org/uist2016/">UIST'16</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="http://hci.stanford.edu/publications/2016/boomerang/boomerang-uist.pdf">Boomerang: Rebounding the
          Consequences of Reputation Feedback on
          Crowdsourcing Platforms</a></strong>
      <p class="light note">
        Snehalkumar Gaikwad, Durim Morina, Adam Ginzberg, Catherine Mullings,
        Shirish Goyal, Dilrukshi Gamage, Christopher Diemert, Mathias Burton,
        Sharon Zhou, <strong>Mark E. Whiting</strong>, Karolina Ziulkoski,
        Alipta Ballav, Aaron Gilbee, Senadhipathige S. Niranga, Vibhor Sehgal,
        Jasmine Lin, Leonardy Kristianto, Angela Richmond-Fuller, Jeff Regino,
        Nalin Chhibber, Dinesh Majeti, Sachin Sharma, Kamila Mananova, Dinesh
        Dhakal, William Dai, Victoria Purynova, Samarth Sandeep, Varshine
        Chandrakanthan, Tejas Sarma, Sekandar Matin, Ahmed Nasser, Rohit
        Nistala, Alexander Stolzoff, Kristy Milland, Vinayak Mathur, Rajan
        Vaish, and Michael S. Bernstein. 2016.
        <strong><a href="http://hci.stanford.edu/publications/2016/boomerang/boomerang-uist.pdf">Boomerang: Rebounding
            the Consequences of Reputation Feedback on
            Crowdsourcing Platforms</a></strong>. In Proceedings of the 29th Annual Symposium on User Interface
        Software and Technology. ACM, New York, NY, USA, 625-637. DOI:
        <a href="http://dx.doi.org/10.1145/2984511.2984542">10.1145/2984511.2984542</a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="http://www.caadria.org/cnf/2010.conf.html">CAADRIA'10</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a href="http://cumincad.scix.net/data/works/att/caadria2010_002.content.pdf">A Formal Approach for the
          Interpretation of Cultural Content:
          Evolution of a Korean traditional pattern, Bosangwhamun</a></strong>
      <p class="light note">
        Lee, J.H., Park, H.J, Lim, S., Kim, S.J., Jung, H. &
        <strong>Whiting, Mark E.</strong>, 2010.
        <strong><a href="http://cumincad.scix.net/data/works/att/caadria2010_002.content.pdf">A Formal Approach for the
            Interpretation of Cultural Content:
            Evolution of a Korean traditional pattern, Bosangwhamun</a></strong>. Proceedings of Computer Aided
        Architectural Design in Asia, Hong-Kong
        Mar.
      </p>
    </td>
  </tr>
  <tr>
    <td class="left light smallCaps noPrint">
      <a class=""
 href="http://www.iasdr2009.or.kr">IASDR'09</a>
    </td>
    <td colspan="2" >
	    <strong class="noPrint"><a
          href="http://www.iasdr2009.or.kr/Papers/Orally%20Presented%20Papers/Design%20Tool/Early%20Exploration%20Of%20Cloud%20Computing%20For%20Design%20Practice%20And%20Education.pdf">Early
          Exploration of Cloud Computing for Design Practice &
          Education</a></strong>
      <p class="light note">
        <strong>Whiting, Mark E.</strong> & Varadarajan, S., 2009.
        <strong><a
            href="http://www.iasdr2009.or.kr/Papers/Orally%20Presented%20Papers/Design%20Tool/Early%20Exploration%20Of%20Cloud%20Computing%20For%20Design%20Practice%20And%20Education.pdf">Early
            Exploration of Cloud Computing for Design Practice &
            Education</a></strong>. Proceedings of International Association of Societies of Design
        Research, Seoul Nov.
      </p>
    </td>
  </tr>
</table>
