/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

* {
	font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: .9em;
    line-height: 1.4;
    max-width: 100%;
	margin: 0;
	background-color: #747474;
/* 	background-image: url("background1S.jpg"); */
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	color: #333;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 45em;
	margin: auto;
}

p { 
	padding: 1em;
	margin: 0;
}

h1 {
	font-size: 1.5em;
	padding: 1em;
	margin: 0;
}

h2 {
	font-size: 1.4em;
	padding: 1em;
	margin: 0;
}

strong {
	font-weight: 700;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: inherit;
}

a:hover{
	text-decoration: underline;
}

.hiphen {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#wrapper {
	margin: 0 .7em;
}

nav{
	display: flex;
	justify-content: space-between;
	margin: .5em 0 0 0;
	
}

nav div {
	padding: .2em .5em 0 .5em;
	font-size: larger;
	color: #eee;
	font-weight: 500;
}

nav .current{
	color: inherit;
	-webkit-backdrop-filter: saturate(1.8) blur(23px);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: .2em .2em 0 0;
}

section {
	padding: 1em;
	-webkit-backdrop-filter: saturate(1.8) blur(23px);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0 0 .2em .2em;
	font-size: 1em;
	box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.2);
}

.leftRound {
	border-radius: .2em 0 .2em .2em;

}

.rightRound {
	border-radius: 0 .2em .2em .2em;

}

.heading {
	font-weight: 600;
	color: inherit;
}

.sectionHeading{
	margin: 1em 0 0 0;
	padding: 0;
}

.featuredNews {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	margin: 0 -1em;
}

.news {
	flex-basis: 9em;
	padding: .2em;
	border-radius: .5em;
	-webkit-transition: all 0.2s ease-out; /* Safari */
	transition: all 0.2s ease-out;
}

.news:hover {
	-webkit-backdrop-filter: saturate(1.8) blur(100px);
	background-color: rgba(175, 175, 175, 0.2);
}

.cvHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
/* 	align-content: flex-end; */
}

.name img {
	width: 7em;
	margin: 0 auto;
}

.name h1 {
	margin: 0;
	padding: 0;
	font-size: large;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.highlightRows {
	display: flex;
	flex-direction: column;
}

.experience {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	margin: 0 -1em;
	padding: .5em 1em;
	-webkit-transition: all 0.2s ease-out; /* Safari */
	transition: all 0.2s ease-out;
}

.experience:hover {
	-webkit-backdrop-filter: saturate(1.8) blur(100px);
	background-color: rgba(175, 175, 175, 0.2);
}

.logo {
	flex-basis: 43px;
	align-content: stretch;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 .5em 0 -.5em;
}

.cmu{ background-image: url("cmu.png"); }
.kaist{ background-image: url("kaist.gif");}
.rmit{ background-image: url("rmit.png");}
.zju{ background-image: url("zju.png");}

.main {
	flex-grow: 1;
}

.detail {
	flex-basis: 10em;
	text-align: end
}

.prodjectTitle{
	font-style: italic;
}

.publication {
	margin: 0 -1em;
	padding: .5em 1em;
	text-align: justify;
}

.publication:hover {
	-webkit-backdrop-filter: saturate(1.8) blur(100px);
	background-color: rgba(175, 175, 175, 0.2);
}


.copyright {
	font-weight: 300;
/* 	color: #666; */
	color: #eee;
}

.copyright a{
	font-weight: inherit;
}


ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px;
}

table {
	width: 100%;
}

tr {
	vertical-align: top;
}

tr:hover {
	-webkit-backdrop-filter: saturate(1.8) blur(100px);
	background-color: rgba(175, 175, 175, 0.2);
}

td {
	padding: 1em 1em;
}

.year {
	width: 5em;
}

.team {
	width: 8.5em;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.course, .course a {
	font-style: italic;
	font-weight: 400;
}

#portrait{
	position:  relative;
	width: 100%;
	margin: 0;
	padding: 0;
	
	background-image: url('Headshot.png');
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	
/* 	bottom: ; */
}

#portrait:before{
	content: "";
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 100%;
}

.overText {
	position: absolute;
	left: 0;
	right: 0;
	bottom:1em;
	
	color: #eee;
}

footer, footer a {
	margin:1em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

/*
    a[href]:after {
        content: " (" attr(href) ")";
    }
*/

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}