body {
	text-align: justify;
	color: #444;
	background-color: #ddd;
	font-family: Helvetica;
	font-weight: 100;
}

h1 {
	font-size: large;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}

nav {
	float: left;
	width: 10em;
}

nav ul {
	list-style: none;
}

footer {
	position: absolute;
	bottom: .2em;
	right: .2em;
}