<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper note light clean noPrint">
    © 2016–{{site.time | date: "%Y"}} <a href="mailto:{{site.email | escape }}" rel="me">{{ site.title | escape }}</a> | Updated
    <span class="upDate"></span> | <a href="https://github.com/markwhiting/Whiting.me/issues/new">Report issue</a>
    <link href="https://github.com/markwhiting" rel="me">
    <link href="https://twitter.com/markwhiting" rel="me">
    <link href="mailto:{{site.email}}" rel="me">
    <link rel="webmention" href="https://webmention.io/whiting.me/webmention" />
    <link rel="pingback" href="https://webmention.io/whiting.me/xmlrpc" />
    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div> -->

  </div>

</footer>