<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper note light clean noPrint">
    Last updated <span class="upDate"></span>.
    <a href="https://github.com/markwhiting/Whiting.me/issues/new">Report issues</a> or <a href="https://github.com/markwhiting/Whiting.me">fork</a>. Content © <a href="mailto:Mark@Whiting.me">Mark Whiting</a>, {{site.time | date: "%Y"}}.
    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div> -->

  </div>

</footer>
