@charset "utf-8";

// Define defaults for each variable.

$base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif !default;
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$light-font-weight: 100 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;
$visual-space: 0.3rem !default;
$spacing-unit: $visual-space;

:root {
  --light: hsla(0, 0%, 100%, 1);
  --dark: hsla(330, 2.3%, 16.9%, 1);
  // --grey: hsla(330, 2.3%, 16.9%, 1);

  --dark-grey: hsla(330, 2.3%, 35%, 1);
  --dark-grey-dark: hsla(330, 2.3%, 25%, 1);
  --dark-grey-light: hsla(330, 2.3%, 45%, 1);
  --shadow-dark: rgba(0, 0, 0, 0.298039);

  --light-grey: hsla(0, 0%, 70%, 1);
  --light-grey-dark: hsla(0, 0%, 60%, 1);
  --light-grey-light: hsla(0, 0%, 80%, 1);
  --shadow-light: rgba(255, 255, 255, 0.198039);

  --blue: hsla(200, 100%, 40%, 1);
  --transparent-blue: hsla(200, 100%, 40%, 0.7);
  --very-transparent-blue: hsla(200, 100%, 40%, 0.3);
  --dark-blue: hsla(200, 100%, 34%, 1);

  --orange: hsla(24.1, 100%, 45.5%, 1);
  --transparent-orange: hsla(24.1, 100%, 45.5%, 0.7);
  --very-transparent-orange: hsla(24.1, 100%, 45.5%, 0.3);
  --dark-orange: hsla(24.1, 100%, 38.675%, 1);

  --text-color: var(--dark);
  --grey-color: var(--dark-grey);
  --grey-color-light: var(--dark-grey-light);
  --grey-color-dark: var(--dark-grey-dark);
  --background-color: var(--light);
  --brand-color: var(--blue);
  --alt-brand-color: var(--orange);
  --transparent-brand-color: var(--transparent-blue);
  --very-transparent-brand-color: var(--very-transparent-blue);
  --transparent-alt-brand-color: var(--very-transparent-orange);
  --dark-brand-color: var(--dark-blue);
  --shadow-color: var(--shadow-dark);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--light);
    --grey-color: var(--light-grey);
    --grey-color-light: var(--light-grey-dark);
    --grey-color-dark: var(--light-grey-light);
    --background-color: var(--dark);
    --brand-color: var(--orange);
    --alt-brand-color: var(--blue);
    --transparent-brand-color: var(--transparent-orange);
    --very-transparent-brand-color: var(--very-transparent-orange);
    --transparent-alt-brand-color: var(--very-transparent-blue);
    --dark-brand-color: var(--dark-orange);
    --shadow-color: var(--shadow-light);
  }
}

$table-text-align: left !default;

// Width of the content area
$content-width: 650px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";
