/**
 * Site header
 */
.site-header {
  margin-top: $spacing-unit;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(2);
  font-weight: $light-font-weight * 3;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: $spacing-unit;

  &,
  &:visited {
    color: var(--grey-color-dark);
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid var(--grey-color-light);
  padding: $visual-space 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: var(--grey-color);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
  p > img {
    border-radius: 1.5 * $spacing-unit;
    max-width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 25px 70px -14px;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    margin-bottom: $spacing-unit;
    width: 25%;
    text-align: center;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: var(--grey-color);
}

.post-link {
  display: block;
  color: var(--text-color);
  font-size: $small-font-size;
}

.post-image {
  margin: auto;
  display: block;
  height: 6rem;
}

/**
 * Posts
 */
.post-header {
  // margin-bottom: $spacing-unit;
}

.post-title {
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.section {
  margin: $visual-space 0 0 0;
}

.row,
.row p {
  padding-bottom: $visual-space * 2/3;
}

.left {
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
  padding-right: $visual-space;
}

.bottom {
  vertical-align: bottom !important;
}

.small {
  font-size: $small-font-size;
  line-height: $base-line-height * $base-font-size * 1.1;
}

.light {
  font-weight: $light-font-weight;
  color: var(--grey-color-dark);
}

.smallCaps {
  font-variant: all-small-caps;
  font-variant-numeric: tabular-nums !important;
}

.button::before {
  content: "[";
}
.button::after {
  content: "]";
}

.note,
.note p {
  font-size: $small-font-size;
  font-style: italic;
  font-variant-numeric: oldstyle-nums;
  margin-bottom: 0;
}

.clean a,
.clean a:visited {
  text-decoration: none;
  color: inherit;
}

.clean a:hover {
  // text-decoration: underline;
}

.headerComment {
  float: right;
  padding-left: $spacing-unit;
  line-height: $base-line-height * $base-font-size * 2.25;
  vertical-align: bottom;
}

h2 {
  @include relative-font-size(1.2);
}
