---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}<h1 class="page-heading">{{ page.title }}</h1>{%- endif -%} -->

  {{
"**I'm a postdoc under [Duncan J. Watts](https://en.wikipedia.org/wiki/Duncan_J._Watts) at [U Penn](https://www.upenn.edu)** in both [Computer & Information Science](https://www.cis.upenn.edu/index.php) in [Engineering and Applied Science](https://www.seas.upenn.edu) and [Operations, Information and Decisions](https://oid.wharton.upenn.edu) at [Wharton](https://www.wharton.upenn.edu)."
| markdownify
}}
<p><img src="/assets/ci27.jpeg" alt="Mark Whiting at Collective Intelligence 2017" /></p>

 {{ 
"## I build systems to study how people behave and coordinate at scale.

I believe that learning to be better together is the single most important thing we can do to facilitate our longterm success; as individuals, and as a species."

| markdownify
}}

  {%- if site.posts.size > 0 -%}

  <h2>Recent work<h2>
  <ul class="post-list">
    {%- for post in site.posts limit:4 -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}" target="_self">
        {%- if post.image -%} {% assign images = site.static_files | where:
        "name", post.image %} {% for image in images %}
        <img
          class="post-image"
          src="{{ image.path }}"
          alt="{{ post.title | escape }}"
        />
        {% endfor %} {%- endif -%}{{post.title | escape }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>